.userMainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 100%;
    height: 88%;

    background: url("../../resourses/images/notebook.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%, contain;
    color: white;
}

.userForm{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;

}

.userformSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    justify-items: start;
    align-content: start;
    align-items: center;

    width: 40vw;
}

.userformSection input {
    width: 67.5%;

    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 2%;

    padding: 1% 1%;

    font-size: 0.9vw;
    border-radius: 5px;
}

.userformSection label{
    width: 20%;

    text-align: left;
    margin-left: 5%;
}

.userFormSelect {
    width: 70%;

    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 2%;

    font-size: 1vw;
    color:black;
}

.btnUserFormSubmit {
    width: 92.5%;

    margin-left: 5%;
    margin-top: 1%;

    padding: 0.5% 0.5%;

    font-size: 1vw;
    border-radius: 5px;
    background-color: aquamarine;
}


.searchLocationContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    justify-items: start;
    align-content: start;
    align-items: center;

    width: 100%;
}


.autocompleteContainer{
    width: 70%;

    margin-top: 0.5%;
    margin-left: 27%;

    color: black;

}

.btnCheckMap{
    width: 70%;

    margin-top: 1%;

    padding: 1% 1%;

    font-size: 0.9vw;
    border-radius: 5px;
    margin-left: 27%;
    background-color: aquamarine;
}

.userMapContainer{
    width: 36.7vw;
    height: 14.7vw;

    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.userMap{
    border: 3px aquamarine solid;
    position: relative !important;

    width: 100% ;
    height: 100% ;
}

#userPhoneInput{
    width: 70%;

    margin-left: 2%;

    color: black;

}

#userPhoneInput input{
    width: 100%;
}
