.formMainContainer {
    background: url("../../resourses/images/notebook.png");
}

.formContainer{
    width: 80%;
}
.formSection{
    width: 50%;
}

.btnNewOrganization{
    width: 47.5%;

    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 32%;

    padding: 1% 1%;

    font-size: 0.9vw;
    border-radius: 5px;
}

.mapContainer{
    width: 39vw;
    height: 13vw;

    margin-top: 1%;
}