body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  background-color: cornsilk;

}

header{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  width: 100%;
  height: 10vw;
  background-color: #282c34;
}
h1{
  width: 100%;
  text-align: center;
}
.logoContainer{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  width: 20vw;
  height: 100%;

}
.logoImage{
  width: 50%;
}
.register{
  width: 20vw;
  height: 40%;
  background-color: #61dafb;
}
.mainPageContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: start;
  align-items: start;

  width: 100vw;
  height: 80vw;
}
.selectRoleContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  align-items: center;

  width: 50%;
  height: 5vw;

}
.selectRole{
  width: 100%;
}
.newUserForm{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  width: 60%;
  margin-top: 5%;
  background-color: aqua;

}
.newUserForm h2 {
  width: 100%;
  text-align: center;
}
.newUserForm input{
  font-size: 1vw;
  width: 70%;

}
.selectCountry{
  width: 70%;
}
.newUserForm ul{

  width: 100%;
}
.newUserForm ul li{
  margin-bottom: 2%;
  width: 90%;
  list-style-type: none;
  display: flex;

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.newUserForm ul li label{
  width: 30%;
}
.formSendBtn{
  margin-bottom: 2%;
}