.homeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 100%;
    height: 88%;

    background-image: url('../../resourses/images/food.jpg');
    background-repeat: no-repeat;
    background-size: 100%, 100%, contain;
}
.homeContainerRules{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 50%;

    font-family: Georgia;
    background-color: rgba(255,255,255,0.7);
    border: black 2px double;
}

.homeContainerRules p{
    margin-left: 2%;
    font-size: 1vw;
}

.homeContainerRules h2{
    font-size: 1.7vw;

    border-bottom: 2px black solid;
}