.mainContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: start;
  align-items: center;

  width: 99.3vw;
  height: 47.8vw;
}

.formMainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  width: 100%;
  height: 88%;

  background-repeat: no-repeat;
  background-size: 100%, 100%, contain;
  color: white;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  font-family: Georgia;
  background-color: rgba(64, 64, 64, 0.8);
  border: black 2px double;
  border-radius: 10px
}

.formContainer h1 {
  font-size: 1.5vw;
  width: 100%;
  text-align: center;
  margin-top: 1%;
}

.formContainer form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  align-items: center;

  margin-bottom: 1%;

}
.formSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: start;
  align-content: start;
  align-items: center;

  margin-top: 2%;

}

.formInput {
  width: 45%;

  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 2%;

  padding: 1% 1%;

  font-size: 0.9vw;
  border-radius: 5px;
}

.formSection label{
  width: 25%;
  text-align: left;
  margin-left: 5%;
}

.formInputFile {
  width: 45%;

  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 2%;

  font-size: 0.9vw;
  border-radius: 5px;
}

.formSelect {
  width: 47.5%;

  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 2%;

  font-size: 1vw;
  color:black;
}

.btnFormSubmit {
  width: 80%;

  margin-top: 1%;

  padding: 0.5% 0.5%;

  font-size: 1vw;
  border-radius: 5px;
  background-color: aquamarine;
}

.invalidFeedback {
  width: 100%;
  text-align: center;
  font-size: 0.4vw;
  text-decoration: underline;
  color: red !important;
}

.searchLocationContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: center;
  align-content: center;
  align-items: center;

  width: 99.9%;
  margin-top: 1%;

}

.autocompleteContainer{
  width: 47.5%;
  margin-left: 32%;
  color: black;
  margin-top: 0.5%;
}

.btnCheckMap{
  width: 47.5%;

  margin-top: 1%;

  padding: 1% 1%;

  font-size: 0.9vw;
  border-radius: 5px;
  margin-left: 32%;
  background-color: aquamarine;
}

.mapContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.map{
  margin-top: 1%;
  border: 3px aquamarine solid;
  margin-left: 5%;
  position: relative !important;

  width: 100% !important;
  height: 100% !important;
}