.inspectionMainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: start;
    align-items: center;

    width: 100%;
    height: 88%;

    background-image: url('../../resourses/images/inspection.jpg');
    background-repeat: no-repeat;
    background-size: 100%, 100%, contain;
}

.inspectionSearchForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 95%;


    margin-top: 1%;

    font-family: Georgia;
    background-color: rgba(64, 64, 64, 0.8);
    border: black 2px double;
    border-radius: 10px;
}

.inspectionSearchFormSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 15%;
    height: 100%;

    margin: 1% 1% 1% 1%;

}


.inspectionRadioFormSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 10%;
    height: 100%;

    margin: 1% 1% 1% 1%;

}

.inspectionRadioFormSection label{
    width: 100%;
    margin-bottom: 1%;
    margin-top: 3%;

    color: white;
    text-align: center;
}

.inspectionSearchFormSection label{
    width: 100%;
    margin-bottom: 1%;
    margin-top: 3%;

    color: white;
    text-align: center;
}

.inspectionFormSelect{
    width: 100%;
}

.inspectionRadioFormSection button{
    width: 100%;

    height:4vw;
}

.inspectionSellerTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 60%;
    height: 60%;


    margin-top: 5%;

    font-family: Georgia;
    background-color: rgba(64, 64, 64, 0.8);
    border: black 2px double;
    border-radius: 10px;
}

.inspectionSellerTable h1{
    width: 100%;

    text-align: center;
    color: white;
}

.inspectionSellerTableSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 15%;

    margin: 3% 3% 3% 1%;

}

.inspectionSellerTableSection a{
    text-decoration: none;
    text-align: center;
    color: white;
    transition-duration: 1s
}

.inspectionSellerTableSection a:hover{
    transform: scale(1.2);
    color: aquamarine;
}

.inspectionSellerTableSection img{
    border: aquamarine 2px double;
    border-radius: 10px;

    width: 85%;
    height: 8vw;
}

.inspectionSellerTableButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    width: 90%;
}

.inspectionSellerTableButtons button{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;

    font-size: 1vw;
    border-radius: 5px;
    background-color: aquamarine;
}

.inspectionModal{
    width: 80%;

    margin-top: 10%;
    margin-left: 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    background-color: rgba(64, 64, 64, 0.8);
    border: black 2px double;
    border-radius: 10px;
}

.sellerMapContainer {
    width: 33vw;
    height: 25vw;

    margin-left: 3%;
    margin-top: 15%;
    margin-bottom: 1%;

}

.sellerMap{
    border: black 2px double;
    position: relative !important;

    width: 100% ;
    height: 100% ;
}
